<p id="notice"><%= notice %></p>

<div class="container">
<div class="row equal">
  <% @actors.each do |actor| %>
  <div class="col-3 s12 m7">
    <%= link_to actor_path(actor) do  %>
    <div class="card">
      <div class="card-image" style="background-image: url(<%= actor.image %>);">
      </div>
      <div class="card-content">
        <div class="list">
          <div> <strong> Name: </strong> <%= actor.name %> (<%= actor.age %>, <%= actor.sex %>)   </div>
          <div><strong>Location:</strong> <%= actor.location %></div>
          <div> <strong>Bio:</strong> <em> <%= actor.bio%></em></div>
          <div><strong>Category:</strong> <%= actor.category %></div>
          <div><strong>Price:</strong> <%="#{actor.price} per hour" %></div>
        </div>
      </div>
    </div>
  </div>
    <% end %>
  <% end %>
</div>
</div>



