<p id="notice"><%= notice %></p>

<% @actors.each do |actor| %>
  <%= link_to actor.name, actor_path(actor) %>
  <%= cl_image_tag actor.image %>
  <%= actor.age %>
  <%= actor.sex %>
  <%= actor.location %>
  <%= actor.bio %>
  <%= actor.category %>
  <%= actor.price %>
<% end %>

