<div class="container p-2 bd-highlight d-flex justify-content-center">
  <div class="showpage-wrapper">

    <div class="showpage-card">
      <div class="show-card-image">
        <%= cl_image_tag @actor.image, height: 300, width: 250, crop: :fill%>
      </div>
      <div class="show-card text-center">
        <h5 class="card-title"><%= @actor.name %></h5>
        <p class="card-text"><strong>Age</strong><br> <%= @actor.age %></p>
        <p class="card-text"><strong>Sex</strong> <br> <%= @actor.sex %></p>
        <p class="card-text"><strong>Location</strong> <br> <%= @actor.location %> </p>
        <p class="card-text"><strong>Bio</strong>  <br> <%= @actor.bio %></p>
        <p class="card-text"><strong>Category</strong>  <br> <%= @actor.category %></p>
        <p class="card-text"><strong>Price</strong>  <br> <%= @actor.price %></p>
        <%= link_to 'Back', actors_path, class: "btn standard show"  %>
      </div>

    </div>
  </div>
</div>



