<p id="notice"><%= notice %></p>

<%= @actor.name %>
<%# cl_image_path @actor.image %>
<%= link_to "#{@actor.name}", actor_path(@actor) %>
<%= cl_image_tag @actor.image %>
<%= @actor.age %>
<%= @actor.sex %>
<%= @actor.location %>
<%= @actor.bio %>
<%= @actor.category %>
<%= @actor.price %>

<%= link_to 'Back', actors_path %>
