<p id="notice"><%= notice %></p>

<%= @actor.name %>
<%# cl_image_path @actor.image %>
<%= link_to "#{@actor.name}", actor_path(@actor) %>
<%= cl_image_tag @actor.image, height: 300, width: 300, crop: :fill %>
<%= @actor.age %>
<%= @actor.sex %>
<%= @actor.location %>
<%= @actor.bio %>
<%= @actor.category %>
<%= @actor.price %>

<%= link_to 'Back', actors_path  %>
<%= link_to 'Book', new_actor_booking_path(@actor)  %>
