<p id="notice"><%= notice %></p>

<div>
Current bookings
<% if @my_current_bookings.empty? %>
  <p>You have no current bookings</p>
<% else @my_current_bookings.each do |my_booking| %>
    <% if my_booking&.date >= DateTime.now %>
        <%= my_booking.title %>
        <%= my_booking.actor.name %>
        <%= my_booking.date %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div>
  Past bookings
  <% if @my_past_bookings.empty? %>
  <p>You have no past bookings</p>
  <% else @my_past_bookings.each do |my_booking| %>
    <% if my_booking&.date < DateTime.now %>
          <%= my_booking.title %>
          <%= my_booking.actor.name %>
          <%= my_booking.date %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div>
My actors current bookings
<% if @my_actors_current_bookings.empty? %>
  <p>Your actors have no current bookings</p>
  <% else @my_actors_current_bookings.each do |my_actors_booking| %>
    <% if my_actors_booking&.date >= DateTime.now %>
        <%= my_actors_booking.title %>
        <%= my_actors_booking.actor.name %>
        <%= my_actors_booking.date %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div>
My actors past bookings
<% if @my_actors_past_bookings.empty? %>
  <p>Your actors have no past bookings</p>
      <% @my_actors_past_bookings.each do |my_actors_booking| %>
    <% if my_actors_booking&.date < DateTime.now %>
        <%= my_actors_booking.title %>
        <%= my_actors_booking.actor.name %>
        <%= my_actors_booking.date %>
      <% end %>
    <% end %>
   <% end %>

    </div>
