<div class="container">
  <div class="row justify-content-center">
    <div class="welcome-to-dashboard">
      <%= "Welcome to your Dashboard"%>
    </div>
  </div>

    <div class="row d-flex justify-content-around status">

        <div class="current-booking">
          <h1>Current Bookings</h1>
          </div>

          <div class="past-bookings">
          <h1>Past Bookings</h1>
      </div>

  </div>


  <div class="row d-flex">
    <div class="col-6">
      <div class="booking-info">
       <% if @my_current_bookings.empty? %>
          <div class="if-no-booking"><%= "You have no current bookings" %></div>

          <% else @my_current_bookings.each do |my_booking| %>
              <div class="booking-image" style="background-image: url(<%= my_booking.actor.image %>);"></div>
              <div class="title"><%= my_booking.title %></div>
              <div class="booking-name"><%= my_booking.actor.name %></div>
              <div class="booking-location"><%= my_booking.actor.location %></div>
              <div class="date"><time>Scheduled at <br>
               <%= my_booking.date %></time></div>
              <div class="duration"><%="#{my_booking.duration} days"  %> </div>
          <% end %>
          <% end %>
        </div>
      </div>

        <div class="col-6">
          <div class="booking-info">
           <% if @my_past_bookings.empty? %>
              <div class="if-no-booking"><%= "You have no previous bookings" %></div>
              <% else @my_past_bookings.each do |my_booking| %>
                  <div class="title"><%= my_booking.title %></div>
                  <div class="booking-name"><%= my_booking.actor.name %></div>
                  <div class="date"><%= my_booking.date %></div>
                  <div class="duration"><%= my_booking.duration %></div>
              <% end %>
              <% end %>
        </div>
      </div>
  </div>












